* {
    /*global styles*/
    font-family: system-ui; /*set default font to system-based font*/
    line-height: 150%; /*set default line height to 150%*/
}
progress {
    /*progress bar styles*/
    color: #0080ff; /*set progress bar color*/
    width: 100%; /*set progress bar width to 100%*/
    height: 20px; /*set progress bar height to 20px*/
    border: 0; /*remove border*/
    border-radius: 10px; /*set border radius to 10px*/
    overflow: hidden; /*hide overflow*/
}
